@charset "UTF-8";

/* Common */

* {
	margin: 0;
	padding: 0;
}

/* Fonts */

@font-face {
    font-family: "Meiryo","Hiragino Kaku Gothic Pro","MS P Gothic","Osaka",Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
}


em { font-style: italic; }

code {
	font-family: "SourceCodeProRegular";
	font-size: 18px;
}

p {
	width: 600px;
	line-height: 120%;
}

html, body { height: 100%; }

a:link, a:visited { text-decoration: none; }

body {
	margin: 0;
	padding: 0;
	color: black;
	background: white
}

#container {
	width: 50em;
	margin-left: auto;
	margin-right: auto;
}

#title_string {
	font-family: 'Molengo', Georgia, Times, serif;
	font-weight: bold;
	font-size: 46px;
}

#nav {
	font-family: 'Lekton', Helvetica, Arial, sans-serif;
	line-height: 46px;
}

#footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid;
	margin-top: 2em;
}

#footer img {
	float: left;
	padding-right: 10px;
	margin-bottom: 100px;
}

blockquote {
	margin: 40px;
}

/* Home */

a:link {color:#000000;}
a:visited {color:#000000;}
a:hover {color:#000000;}
a:active {color:#000000;}

.section_title {
	font-weight: bold;
	font-family: 'Molengo', Georgia, Times, serif;
	font-size: 40px;
	line-height: 200%;
}

ul {
	list-style-type: none;
}

.items {
	font-family: 'Lekton', Helvetica, Arial, sans-serif;
	font-size: 21px;
}

.bullet {
	font-size: 16px;
	color: grey;
}

.new {
	font-size: 16px;
	color: red;
}

.sc {
	  font-family: "Meiryo";
	  font-size: 21px;
}

.sidenote {
	  position: absolute;
	  margin-right: -150px;
}

/* Posts */

#post .page_title {
	font-weight: bold;
	font-family: 'Lekton', Helvetica, Arial, sans-serif;
	font-size: 30px;
	line-height: 120%;
}

#post p {
	font-family: "Meiryo", Georgia, serif;
	font-size: 21px;
	margin: 1em 0;
}

#post li {
	font-family: "Meiryo", Georgia, serif;
	font-size: 21px;
	margin: 1em 0;
}

#post p a:link {color:#666666;}
#post p a:visited {color:#999999;}

#post sup {
	font-size: 14px;
}
